@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');
/* ------------------tag selectors------------------ */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Montserrat', sans-serif;
}

a {
    font-size: 1.6rem;
    text-decoration: none;
}

p, li {
    font-size: 1.6rem;
    margin-bottom: 0.5em;
    letter-spacing: 0.15em;
}

h1, h2, h3 {
    margin-bottom: 0.5em;
    letter-spacing: 0.15em;
    font-weight: 500;
}

/* -------------------utility classes------------------------ */

.container {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

.lg-heading {
    font-size: 3.5rem;
}

.md-heading {
    font-size: 2.2rem;
}

.text-red {
    color: #e63946;
}

.text-light {
    color: #f4f4f4;
}

.text-black {
    color: #333;
}

.bg-dark {
    background-color: #263238;
    ;
}

.text-gray {
    color: #555;
}

.btn {
    display: inline-block;
    padding: 0.5em 1.5em;
    font-weight: 500;
    text-transform: uppercase;
    margin: 0.5em 0;
}

.btn:hover {
    background-color: #ddd;
}

.btn-primary {
    background-color: #fff;
    border-radius: 10rem;
}

.btn-secondary {
    border: 2px solid #e63946;
    border-radius: 2em;
    color: #e63946;
    background-color: #fff;
}

/* -----------------class selectors------------------ */

.header {
    position: relative;
    height: 95vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/header-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.header-content {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.ul {
    list-style: none;
}

.navbar {
    overflow: auto;
    padding: 1rem;
}

.navbar a:link, .navbar a:visited {
    color: #f4f4f4;
}

.navbar a {
    padding-bottom: 0.3rem;
}

.navbar a:hover {
    border-bottom: 1px solid #fff;
}

.navbar .logo {
    float: left;
}

.navbar .nav-items {
    float: right;
    margin-top: 1rem;
}

.navbar .nav-item {
    display: inline-block;
    padding: 1rem;
}

.header-content h1 {
    font-weight: 900;
}

.header-content p {
    text-transform: uppercase;
}

/* -----------------id selectors------------------ */

/* -------------Showcase section stylying---------------- */

.showcase {
    background: #ddd;
    padding: 10rem 0;
}

.row {
    background-color: #fff;
    overflow: auto;
    height: 350px;
    box-shadow: 0px 0px 20px 0px #999;
}

.row1 {
    margin-bottom: 10rem;
}

.row1 .img-box, .row2 .text-box {
    float: left;
    width: 50%;
}

.row2 .img-box, .row1 .text-box {
    float: right;
    width: 50%;
}

.row .img-box {
    height: 100%;
}

.row .text-box {
    padding: 3rem;
}

.row .img-box img {
    display: inline-block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* -------------features section stylying---------------- */

.features {
    padding: 10rem 0;
}

.box-wrapper {
    overflow: auto;
    box-shadow: 0px 0px 20px 0px #999;
    background-color: rgba(81, 84, 115, 1);
}

.box {
    width: 33.3333%;
    float: left;
    padding: 2rem;
    text-align: center;
}

.box1, .box3 {
    color: #fff;
    background-image: linear-gradient( 94.3deg, rgba(26, 33, 64, 1) 10.9%, rgba(81, 84, 115, 1) 87.1%);
}

.box2 {
    background-image: linear-gradient( 111.2deg, rgba(232, 5, 5, 1) 1.7%, rgba(245, 49, 191, 1) 98.7%);
    color: #fff;
}

.icon {
    width: 50px;
    height: 50px;
}

/* -------------------footer style--------------------- */

.footer {
    padding: 2rem;
    background-color: #263238;
    color: #f4f4f4;
    text-align: center;
}

.footerIcons {
    padding: 1rem;
    margin: 0px auto;
    width: 50px;
    height: 50px;
}

/* --------------------about.html page styling------------------ */

.about {
    padding: 5rem 0;
}

.h-text {
    border-bottom: 6px solid #e63946;
}

.about-wrapper {
    overflow: auto;
    margin-top: 2rem;
    text-align: center;
}

.about-wrapper .left {
    float: left;
    width: 50%;
}

.about-wrapper .right {
    float: right;
    width: 50%;
}

.ulUl {
    list-style: none;
}

.about-wrapper li::before {
    content: "\2713";
    color: #e63946;
    font-weight: bold;
    padding-right: 1rem;
}

/* about page- count styling */

.counts {
    margin-top: 3rem;
    overflow: auto;
}

.count-item {
    width: 25%;
    text-align: center;
    float: left;
}

.count-item span {
    font-size: 3rem;
    color: #e63946;
    font-weight: 700;
}

.count-item p {
    font-weight: 700;
    color: #555;
}

/* about page banner styling */

.banner {
    background-image: linear-gradient( 111.2deg, rgba(232, 5, 5, 1) 1.7%, rgba(245, 49, 191, 1) 98.7%);
    color: #f4f4f4;
    overflow: auto;
    padding: 1rem;
    box-shadow: 0px 0px 20px 0px #999;
    margin-top: 3rem;
}

.banner-left {
    float: left;
    width: 60%
}

.banner-right {
    float: right;
    width: 40%;
    text-align: right;
}

.banner-line {
    font-weight: 700;
    font-size: 2rem;
    margin-top: 3rem;
}

.btn-banner {
    text-align: center;
    display: inline-block;
    font-weight: 700;
    font-size: 3rem;
    border: 4px solid #fff;
    padding: 2rem;
    letter-spacing: 0.8rem;
    color: #f4f4f4;
}

/* -----------CONTACT PAGE STYLING */

.contact-form {
    padding: 5rem 0;
    background: #f7f7f7;
    
}

.form-wrapper {
    overflow: auto;
}

.form-wrapper .company-address {
    float: left;
    height: 760px;
    width: 49%;
    background: #fff;
    padding: 1rem;
}

.form-wrapper .company-address h2 {
    display: inline-block;
    text-transform: uppercase;
}

.form-wrapper .company-address .company-img{
    max-width: 90%;
    min-height: 40rem;
    object-fit: cover;
    object-position: right;

}



.form-wrapper .address-group {
    margin-bottom: 3rem;
}

.form-img {
    width: 3rem;
    height: 3rem;
    display: inline-block;
    margin-right: 1rem;
}
/* form styling */

.form-wrapper .form {
    height: 760px;
    float: right;
    font-size: 1.6rem;
    width: 49%;
    background: #fff;
    padding: 1rem;
}
.form-heading{
    border-bottom: 6px solid #e63946;
}
.form-wrapper label{
    display: block;

}
.form-wrapper .form input{
    padding: 0.5rem;
    width: 100%;
}
.form-wrapper .form .form-group{
    margin-bottom: 1.2rem;
}
.form-wrapper .form label::after{
    content: " *";
    color: #e63946;
}
.form-wrapper .form textarea{
    width: 100%;
    height: 300px;
    padding: 1rem;
}
.form-btn{
    display: block;
    margin: 0 auto;
    padding: 0.5em 3em;
    font-size: 1.8rem;
    text-transform: uppercase;
    background: #e63946;
    color: #fff;
    outline: none;
    border: none;
    cursor: pointer;
}
